@import "./functions";

$primary: #1ed760;
$secondary: #929292;
$dark: #121212;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": #198754,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #0dcaf0,
  "light": #f8f9fa,
  "dark": $dark,
);

@import "./variables";
@import "./variables-dark";
@import "./maps";
@import "./mixins";
@import "./utilities";
@import "./bootstrap";

:root {
  --bs-primary-rgb: 30, 215, 96;
  --bs-secondary-rgb: 146, 146, 146;
  --bs-dark-rgb: 18, 18, 18;
}
body {
  font-family: "CircularStd", sans-serif;
}
h3 {
  font-family: "CircularStd", sans-serif;
  font-weight: 700;
}
.sidebar-left a div {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.active-sidebar {
  color: #ffffff !important;

  span {
    color: #ffffff !important;
    font-weight: 600;
  }

  i,
  img {
    filter: brightness(0) invert(1); // rende icone bianche
  }
}

//-------------------- MAIN CSS -------------------------------- //
//-------------------- MAIN CSS -------------------------------- //
.main-content {
  background: linear-gradient(to bottom, #4d4d4d, #121212);
}

.viola {
  background: linear-gradient(
    to bottom left,
    #4d4d4d 0%,
    #2f2f2f 40%,
    #1a1a1a 70%,
    #121212 100%
  );
  width: 100%;
}

/* BUONASERA CARD */
.buonasera-card {
  background-color: #2f2f2f;
  height: 80px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #4d4d4d;
  }
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}
//GRIGLIA DIV CON 4 IMG //
.square-grid {
  max-width: 101px;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.square-grid img {
  flex: 0 0 50%;
  height: 50%;
  object-fit: cover;
  display: block;
}
// BARRE DI SCORRIMENTO //

#main,
#sidebarRight,
.overflow-auto {
  scrollbar-width: auto;
  scrollbar-color: #3a3a3a transparent;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
// HOVER SIDEBAR //
.sidebar-link:hover span {
  color: #fff;
}

.sidebar-link:hover img {
  filter: brightness(0) invert(1);
}

.card {
  height: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  object-fit: cover;
}

/* BOTTOM BAR MARTINA */

.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #181818;
  border-top: 1px solid #181818;
  z-index: 1050;
}

.player-icon {
  cursor: pointer;
}

.player-bar .row {
  height: 100%;
}

body {
  padding-bottom: 90px;
}

.liked {
  color: #1ed760 !important;
}

/* barra tempo canzoni MARTINA */

.player-progress {
  background-color: #4d4d4d !important;
  border-radius: 999px;
  overflow: visible !important;
}

.player-progress-fill {
  background-color: #1ed760 !important;
  position: relative;
  height: 100%;
  border-radius: 999px;
}

.player-progress-fill::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}

.knob-hidden::after {
  display: none;
}

.progress-bar.player-progress-fill {
  box-shadow: none !important;
}

#mobile-player {
  position: fixed;
  left: 0;
  bottom: 75px;
  width: 100%;
  z-index: 1060;
  background: transparent;
}

//--------FONTS--------//
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}
