.main-content{
    background: linear-gradient(
        to bottom,
        #4d4d4d,
        #121212
    );
}

.viola {
 background: linear-gradient(
    to bottom left,
    #4d4d4d 0%,
    #2f2f2f 40%,
    #1a1a1a 70%,
    #121212 100%
  );
}

/* BUONASERA CARDS */
.buonasera-card {
  background-color: #2f2f2f;
  height: 80px;
  cursor: pointer;
  transition: 0.2s;
}

.buonasera-card:hover {
  background-color: #4d4d4d;
}

.buonasera-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}


