.search-box {
  height: 9rem;
  width: 48%;
}

.search-box-img {
  width: 45%;
  transform: rotate(25deg);
  position: absolute;
  bottom: -3%;
  right: -10%;
  box-shadow: -1px 1px 3px 0px #000000;
}

#search-box-1 {
  background-color: #e13300;
}
#search-box-2 {
  background-color: #1e3264;
}
#search-box-3 {
  background-color: #e8115c;
}
#search-box-4 {
  background-color: #148a08;
}
#search-box-5 {
  background-color: #bc5800;
}
#search-box-6 {
  background-color: #d84000;
}
#search-box-7 {
  background-color: #ce1180;
}
#search-box-8 {
  background-color: #8d68ac;
}
#search-box-9 {
  background-color: #773da7;
}
#search-box-10 {
  background-color: #e6653e;
}

#search-h2 {
  margin-left: 16px;
}

@media screen and (min-width: 576px) {
  .search-box {
    width: 40%;
  }
  .search-box-img {
    width: 40%;
    bottom: -3%;
    right: -10%;
  }
  #input-group {
    width: 94%;
  }
  #search-h2 {
    width: 50%;
    margin-right: calc(36%);
  }
}
@media screen and (min-width: 768px) {
  .search-box {
    width: 35%;
    height: 12rem;
  }
  .search-box-img {
    width: 35%;
    bottom: -5%;
    right: -5%;
  }
  #input-group {
    width: 79%;
  }
  #search-h2 {
    margin-right: calc(25%);
  }
}
@media screen and (min-width: 992px) {
  #input-group {
    width: 78%;
  }
}
@media screen and (min-width: 1400px) {
  #input-group {
    width: 77%;
  }
  #search-h2 {
    margin-right: calc(24.3%);
  }
}
