.sidebar-left a,
.sidebar-left p,
.sidebar-right {
  color: #929292 !important;
}
.sidebar-right img {
  margin: 1em;
}
.sidebar-left i {
  font-size: 1.2em;
}
.sidebar-left a div {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
